<p>レベル<%= @user.level %></p>
<p><%= @user.name %></p>
<p><%= @user.email %></p>

<% if @user.image.present? %>
  <%= image_tag @user.image.url %>
<% else %>
  <%= image_tag 'default_image.png' %>
<% end %>


<% if user_signed_in? && @user == current_user %>
  <%= link_to "プロフィール編集", edit_user_path(current_user) %>
<% end %>
