  <div class="user_show">
    <% if @user.image.present? %>
      <%= image_tag @user.image.url %>
    <% else %>
      <%= image_tag 'default_image.png' %>
    <% end %>
    <p class="name">名前：<%= @user.name %></p>
    <p class="email">アドレス：<%= @user.email %></p>
    <p class="profile">プロフィール：<%= @user.profile %></p>
    <p class="lebel">レベル：<%= @user.level %></p>
    <% if @user == current_user %>
      <%= link_to "プロフィール編集", edit_user_path(@user.id) %>
      <%= link_to "退会", user_path(@user.id), method: :delete %>
      <% if current_user.admin == true %>
        <%= link_to "管理者画面", rails_admin_path %>
      <% end %>
    <% end %>
  </div>
