<%= form_with(model: tag, local: true) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="cp_iptxt">
    <%= form.text_field :name, class:"ef" %>
    <%= form.label :name %>
  </div>

  <div class="field">
    <%= form.collection_radio_buttons(:tag_category_id, TagCategory.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
