<h3>タグ</h3>

<table>
  <% @tag_categories.each do |tag_category| %>

    <thead>
      <tr>
        <th><%= tag_category.name %></th>
      </tr>
    </thead>

    <tbody>
      <% tag_category.tags.each do |tag| %>
        <tr>
          <td><%= tag.name %></td>
          <td><%= link_to '編集する', edit_tag_path(tag) %></td>
          <td><%= link_to '削除する', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>

  <% end %>
</table>

<br>

<%= link_to 'タグを作成する', new_tag_path %>
