<div class="container">
  <aside class = "side_menu">
    <% @categories.each do |category| %>
      <%= category.name %>
    <% end %>
  </aside>

  <div class="main">
    <% @posts.each do |post| %>
      <p><%= image_tag post.image.url if post.image.present?%></p>
      <p><%= link_to "#{post.name}", post_path(post) %></p>
      <% post.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    <% end %>
  </div>

  <%= paginate @posts %>
  <%= link_to 'New Post', new_post_path %>

</div>
