<div class="container">
  <aside class = "side_menu">
    <% @categories.each do |category| %>
      <%= category.name %>
    <% end %>
  </aside>

  <% @posts.each do |post| %>
    <section class="card">
      <%= image_tag post.image.url, class: "card-img" if post.image.present?%>
      <div class="card-content">
        <h1 class="card-title"><%= link_to "#{post.name}", post_path(post) %></h1>
        <p class="card-text">
          <% post.tags.each do |tag| %>
            <%= tag.name %>
          <% end %>
        </p>
      </div>
      <div class="card-link">

        <a href=#>About</a>
        <a href=#>Website</a>

      </div>
    </section>
  <% end %>

  <%= paginate @posts %>
  <%= link_to 'New Post', new_post_path %>

</div>
