<div class="post_index">

  <div class="level_display">
    <% user = current_user %>
    <% user.level %>
    <% user.exp_point %>
    <% user.level + 1 %>
    <% @levelSetting.thresold - user.exp_point %>
    <% exp_ratio = (user.exp_point.to_f / @levelSetting.thresold.to_f) * 100 %>
    <% exp_ratio.round %>

    <div style="width: 100%;">
      <div style="background-color: #808080; border-radius: 3px;">
        <div style="background-color: #adff2f; border-radius: 3px; height:13px; width:<%= exp_ratio %>%"></div>
      </div>
    </div>

    <h5>Lv.<%= user.level %></h5>
    <h5>経験値:<%= user.exp_point %></h5><br>
    <h5>次のレベル:<%= user.level + 1 %></h5>
    <h5>必要経験値:<%= @levelSetting.thresold - user.exp_point %></h5><br>
    <h5>経験値の割合:<%= exp_ratio.round %>%</h5>
  </div>



  <div class="posts">

    <% @array = {} %>

    <% @posts.each_with_index do |post, id| %>
      <%= content_tag :div, id: "box_#{id}" do %>
        <h4><%= link_to "#{post.name}", post_path(post),class: "link" %></h4>
        <%= image_tag post.image.url if post.image.present? %>
        <div class="tag_list">
          <% post.tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </div>
        <div class="category_list">
          <% post.categories.each do |category| %>
            <li><%= category.name %></li>
          <% end %>
        </div>
      <% end %>

      <% if @posts[id + 1].present? %>
        <% array1 = post.tags.pluck(:name) %>
        <% array2 = @posts[id + 1].tags.pluck(:name) %>
        <% a = array1.concat(array2) %>
        <% b = a.uniq %>
        <% if a.length != b.length %>
          <% match = true %>
        <% else %>
          <% match = false %>
        <% end %>
        <% @array[id] = match %>
      <% end %>

      <%= javascript_tag do %>
        var data = <%= @array.to_json.html_safe %>
      <% end %>

    <% end %>

  </div>


  <div class="chains">
    <% @chain_array = []
    chain = 0
    @array.each { |key, value|
      if value
        chain += 1
      else
        chain = 0
      end
      @chain_array << chain
    } %>

    <h3>現在の連鎖記録</h3>
    <h3><%= @chain_array.max %>回</h3>
  </div>
</div>
