<div class="contain row">

  <aside class = "side_menu col-lg-3 col-md-3 col-sm-3">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div class="category_search">
        <%= form_with(url:posts_path, local: true, method: :get) do |form| %>
          <%= form.select("category_id", Category.pluck(:name, :id), { include_blank: 'カテゴリで検索' }) %>
          <%= form.submit "検索する" %>
        <% end %>
      </div>
      <ul id="accordion" class="accordion">
        <li>
          <% @tag_categories.each do |tag_category| %>
            <div class="link"><%= tag_category.name %><i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
              <% tag_category.tags.each do |tag| %>
                <li><%= link_to tag.name, posts_path(tag_id: "#{tag.id}") %></li>
              <% end %>
            </ul>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="col-md-1">
    </div>
  </aside>

  <div class="cards col-lg-9 col-md-9 col-sm-9 row">

    <div class="cards_right col-lg-11 col-md-12 col-sm-12 row">

      <div class="title_search">
        <%= search_form_for @q, url: posts_path do |f| %>
          <%= f.search_field :name_cont,class: 'field', placeholder: "何かお探しですか？" %>
          <%= f.submit '検索' %>
        <% end %>
      </div>


      <% if @posts.empty? %>
        <h1 class="guide">投稿お待ちしています！</h1>
      <% else %>
        <% @posts.each do |post| %>
          <%= link_to post_path(post) do %>
            <div class="card col-lg-3 col-md-3 col-sm-4">
              <% if post.image.present? %>
                <%= image_tag post.image.url, class: "card-img" %>
              <% else %>
                <%= image_tag 'default_cook_image2.png', class: "card-img" %>
              <% end %>
              <div class="card-content">
                <h1 class="card-title"><%= post.name %></h1>
              </div>
              <div class="card-link">
                <% if user_signed_in? %>
                  <% favorite = current_user.favorites.find_by(post_id: post.id) %>
                  <% if favorite.present? %>
                    <%= link_to 'お気に入り解除', favorite_path(id: favorite.id), method: :delete %>
                  <% else %>
                    <%= link_to 'お気に入り', favorites_path(post_id: post.id), method: :post %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

    </div>

    <div class=" col-lg-1">
    </div>
  </div>

  <%= paginate @posts %>
</div>
