<p><%= link_to "#{@post.name}", @post.url, target: :_blank %></p>
<p><%= image_tag @post.image.url if @post.image.present? %></p>
<div class="memo">
  <span class="title">メモ</span>
  <p><%= @post.memo %></p>
</div>

<% if current_user == @post.user %>
  <%= link_to '編集する', edit_post_path(@post) %>
  <%= link_to '削除する', @post, method: :delete, data: { confirm: "「#{@post.name}」を削除しますか？" } %>
<% end %>

<%= link_to '戻る', posts_path %>
