<div class="post_show">
  <div class="name">
    <%= @post.name %>
  </div>

  <div class="image">
    <% if @post.image.present? %>
      <%= image_tag @post.image.url %>
    <% else %>
      <%= image_tag 'default_cook_image2.png' %>
    <% end %>
  </div>

  <%= link_to @post.url, target: :_blank do %>
    <div class="recipe">
      <p>つくり方はこちら</p>
    </div>
  <% end %>

  <div class="memo">
    <span class="title">メモ</span>
    <p><%=safe_join(@post.memo.split("\n"),tag(:br))%></p>
  </div>



  <% if current_user == @post.user %>

    <%= link_to edit_post_path(@post) do %>
      <div class="edit">
        <p>編集</p>
      </div>
    <% end %>
    <%= link_to @post, method: :delete, data: { confirm: "「#{@post.name}」を削除しますか？" } do %>
      <div class="delete">
        <p>削除</p>
      </div>
    <% end %>

  <% else %>
    <%= link_to user_path(@post.user) do %>
      <div class="user">
        <% if @post.user.image.present? %>
          <%= image_tag @post.user.image.url %>
        <% else %>
          <%= image_tag 'default_user_image.png' %>
        <% end %>
        <p><%= @post.user.name %>さん</p>
      </div>
    <% end %>
  <% end %>



</div>
