  <div class="post_top">


  <div class="top">

    <%= image_tag 'top_background.jpg' %>

    <div class="container">
      <p class="bound">
        <span>C</span>
        <span>o</span>
        <span>o</span>
        <span>k</span>
        <span></span>
        <span>C</span>
        <span>h</span>
        <span>a</span>
        <span>i</span>
        <span>n</span>
        <span>e</span>
        <span>r</span>
      </p>
    </div>

    <div class="top_slider">
      <div><img src="assets/top_1.jpg"></div>
      <div><img src="assets/top_2.jpg"></div>
      <div><img src="assets/top_3.jpg"></div>
      <div><img src="assets/top_4.jpg"></div>
      <div><img src="assets/top_5.jpg"></div>
      <div><img src="assets/top_6.jpg"></div>
      <div><img src="assets/top_7.jpg"></div>
    </div>
  </div>



  <div class="content row">
    <div class="text col-md-6">
      <p>料理は好きだけど、なかなか続かない・・・<br></p>
      <p>そんな経験ありませんか？<br></p>
      <p><strong>CookChainer</strong><br>は、料理初心者の方のためのサービスです。</p>
      <p>ゲームのような感覚で、楽しく料理を続けることができます。<br></p>
      <p>このアプリで、もう一度料理にチャレンジしてみませんか？<br></p>
    </div>
    <div class="button col-md-6">



      <div>
        <%= link_to "みんなの料理を見る", index2_posts_path, class: "btn-sticky", style: "width: 300px;" %><br>
        <%= link_to "ログイン", new_user_session_path, class: "btn-sticky", style: "width: 300px;" %><br>
        <%= link_to "アカウント作成", new_user_registration_path, class: "btn-sticky", style: "width: 300px;" %><br>

        <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn-sticky", style: "width: 300px;" %><br>
        <%= link_to 'ゲストログイン(管理者)', users_admin_guest_sign_in_path, method: :post, class: "btn-sticky", style: "width: 300px;" %>
      </div>

    </div>
  </div>



  <div class="sliders">

    <div class="slider">
      <h3><strong>1.まずは新規登録</strong></h3>
      <img src="assets/guide_1.png"><br>
      <p>まずは新規登録をしましょう。試しに中身を見てみたい時は、ゲストログインを使うことも可能です。</p>
    </div>

    <div class="slider">
      <h3><strong>2.作った料理を投稿してみよう</strong></h3>
      <img src="assets/guide_2.png"><br>
      <p>料理が完成したら、投稿してみましょう！料理名(必須)、参考にしたレシピサイトのurl、一言メモ、画像を登録できます。また、料理に使った食材を最大8個まで選択できます。最後に料理のカテゴリーを選択し、投稿してみましょう！</p>
    </div>

    <div class="slider">
      <h3><strong>3.材料で料理が連鎖</strong></h3>
      <img src="assets/guide_3.png"><br>
      <p>投稿した料理は、「記録」から確認することができます。同じ食材を持った料理が隣り合うと、投稿が線でつながります。多くの料理を繋げて、連鎖させていきましょう！</p>
    </div>

    <div class="slider">
      <h3><strong>4.投稿するとレベルアップ！</strong></h3>
      <img src="assets/guide_4.png"><br>
      <p>料理を投稿すると経験値が溜まり、レベルが上がります。たくさん料理を作って、レベルを上げていきましょう！また、連鎖記録を確認することができます。</p>
    </div>

    <div class="slider">
      <h3><strong>5.みんなの料理を参考に</strong></h3>
      <img src="assets/guide_5.png"><br>
      <p>「検索」ページでは、他ユーザーの投稿を見ることができます。料理名、カテゴリー、食材などで検索し、絞り込むこともできます。気に入った料理があれば、お気に入りしておきましょう。</p>
    </div>

  </div>
  

</div>
