  <div class="post_top">


  <div class="top">

    <%= image_tag 'top_background.jpg' %>

    <div class="container">
      <p class="bound">
        <span>C</span>
        <span>o</span>
        <span>o</span>
        <span>k</span>
        <span></span>
        <span>C</span>
        <span>h</span>
        <span>a</span>
        <span>i</span>
        <span>n</span>
        <span>e</span>
        <span>r</span>
      </p>
    </div>

    <div class="top_slider">
      <div><img src="assets/top_オムライス.jpg"></div>
      <div><img src="assets/top_シーザーサラダ.jpg"></div>
      <div><img src="assets/top_パンケーキ.jpg"></div>
      <div><img src="assets/top_ハンバーグ.jpg"></div>
      <div><img src="assets/top_冷やし中華.jpg"></div>
      <div><img src="assets/top_大学芋.jpg"></div>
      <div><img src="assets/top_筑前煮.jpg"></div>
    </div>
  </div>



  <div class="content row">
    <div class="text col-md-6">
      <p>料理は好きだけど、なかなか続かない・・・<br></p>
      <p>そんな経験ありませんか？<br></p>
      <p><strong>CookChainer</strong><br>は、料理初心者の方のためのサービスです。</p>
      <p>ゲームのような感覚で、楽しく料理を続けることができます。<br></p>
      <p>このアプリで、もう一度料理にチャレンジしてみませんか？<br></p>
    </div>
    <div class="button col-md-6">



      <div>
        <%= link_to "みんなの料理を見る", index2_posts_path, class: "btn-sticky", style: "width: 300px;" %><br>
        <%= link_to "ログイン", new_user_session_path, class: "btn-sticky", style: "width: 300px;" %><br>
        <%= link_to "アカウント作成", new_user_registration_path, class: "btn-sticky", style: "width: 300px;" %><br>

        <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn-sticky", style: "width: 300px;" %><br>
        <%= link_to 'ゲストログイン(管理者)', users_admin_guest_sign_in_path, method: :post, class: "btn-sticky", style: "width: 300px;" %>
      </div>

    </div>
  </div>



  <div class="sliders">

    <div class="slider">
      <h3><strong>説明タイトル1</strong></h3>
      <img src="assets/test1.webp"><br>
      <p>ここは説明文1が入ります。ここは説明文1が入ります。ここは説明文1が入ります。ここは説明文1が入ります。ここは説明文1が入ります。ここは説明文1が入ります。ここは説明文1が入ります。ここは説明文1が入ります。ここは説明文1が入ります。ここは説明文1が入ります。</p>
    </div>

    <div class="slider">
      <h3><strong>説明タイトル2</strong></h3>
      <img src="assets/test2.jpeg"><br>
      <p>ここは説明文2が入ります。ここは説明文2が入ります。ここは説明文2が入ります。ここは説明文2が入ります。ここは説明文2が入ります。ここは説明文2が入ります。ここは説明文2が入ります。ここは説明文2が入ります。ここは説明文2が入ります。ここは説明文2が入ります。</p>
    </div>

    <div class="slider">
      <h3><strong>説明タイトル3</strong></h3>
      <img src="assets/test1.webp"><br>
      <p>ここは説明文3が入ります。ここは説明文3が入ります。ここは説明文3が入ります。ここは説明文3が入ります。ここは説明文3が入ります。ここは説明文3が入ります。ここは説明文3が入ります。ここは説明文3が入ります。ここは説明文3が入ります。ここは説明文3が入ります。</p>
    </div>

    <div class="slider">
      <h3><strong>説明タイトル4</strong></h3>
      <img src="assets/test2.jpeg"><br>
      <p>ここは説明文4が入ります。ここは説明文4が入ります。ここは説明文4が入ります。ここは説明文4が入ります。ここは説明文4が入ります。ここは説明文4が入ります。ここは説明文4が入ります。ここは説明文4が入ります。ここは説明文4が入ります。ここは説明文4が入ります。</p>
    </div>

  </div>

</div>
