<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="cp_iptxt">
    <%= form.text_field :name, class:"ef" %>
    <%= form.label :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
