<!DOCTYPE html>
<html>
  <head>
    <title>CookChainer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

<% if controller_name == "posts" && action_name == "top" %>
  <%= yield %>
<% else %>
  <body>
    <div class="container">
      <header>
        <% if user_signed_in? %>
          <%= link_to 'マイページ', user_path(current_user.id) %>
          <%= link_to '投稿', new_post_path %>
          <%= link_to "一覧", posts_path %>
          <% if current_user.admin? %>
            <%= link_to "カテゴリ", categories_path %>
            <%= link_to "タグ", tags_path %>
            <%= link_to "タグカテゴリ", tag_categories_path %>
            <%= link_to "管理者画面", rails_admin_path %>
          <% end %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "トップページ", root_path %>
          <%= link_to "一覧", posts_path %>
          <%= link_to "アカウント作成", new_user_registration_path %>
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </header>
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
      <%= yield %>
      <footer>
        <p>2021 CookChainer</p>
      </footer>
    </div>
  </body>
<% end %>
</html>
